.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image {
    width: 650px;
    height: 600px;
}

.about-content {
    width: 33%;
    margin: 0 70px 30px;
}

.about-title {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.about-text {
    margin: 60px 0 35px 0;
    font-size: 22px;
    line-height: 1.7;
    white-space: pre-line
}

.about-author {
    font-size: 36px;
}

.about-scrolling-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-scroll-text {
    margin-bottom: 25px;
    font-size: 18px;
    color: #bebebe;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.about-arrow {
    color: #bebebe;
}

.navbar-line {
    width: 90%;
    margin: 0 0 65px;
    border-style: solid;
    border-color: #bebebe;
    border-width: 1px;
    border-radius: 30px;
}

@media screen and (max-width: 1200px) {
    .about-container {
        flex-direction: column;
    }

    .about-content {
        width: 771px;
        margin: 45px 0 0;
        padding-left: 50px;
    }

    .about-image {
        width: 771px;
        height: 700px;
    }

    .about-text {
        width: 90%;
        margin: 50px 0 35px 0;
    }

    .navbar-line {
        width: 100%;
        margin: 0;
    }

    .about-scrolling-content {
        margin: 35px 0 50px; 
    }
}

@media screen and (max-width: 800px) {
    .about-content {
        width: 90%;
        padding-left: 40px;
    }

    .about-image {
        max-width: 768px;
        max-height: 700px;
        width: 100%;
        height: auto;
    }

}

@media screen and (max-width: 600px) {
    .about-content {
        padding-left: 25px;
    }

}

@media screen and (max-width: 500px) {
    .about-content {
        margin-bottom: 35px;
    }

    .about-image {
        max-width: 100%;
        width: auto;
        height: auto;
    }

    .navbar-line {
        display: none;
    }

    .about-title {
        font-size: 30px;
    }
    
    .about-text {
        margin: 25px 0 35px 0;
        font-size: 18px;
    }
    
    .about-author {
        font-size: 20px;

    }

    .about-scrolling-content {
        display: none;
    }

}