.home-wrapper {
    height: 100vh;
    background-image: url('../img/Background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.home{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-sidebar {
    margin: 20px 0 0 30px;
    display: none;
    align-items: center;
}

.home-sidebar-logo {
    margin-right: 5px;
    color: #f1f1f1;
    display: flex;
    align-items: center;
}

.home-sidebar-text {
    font-size: 23px;
    font-weight: 600;
    color: #f1f1f1;
    text-transform: uppercase;

}

.home-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-line {
    width: 90%;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.7);
    border-width: 1px;
    border-radius: 30px;
}

.home-scrolling-content {
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-scroll-text {
    margin-bottom: 25px;
    font-size: 18px;
    color: #f1f1f1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.home-arrow {
    color: #f1f1f1;
}

@media screen and (max-width: 1200px) {
    
    .home-wrapper {
        height: 70vh;
    }

    .home-scrolling-content {
        display: none;
    }
}


@media screen and (max-width: 412px) {
    
    .home-wrapper {
        height: 25vh;
    }

    .home-line {
        display: none;
    }

    .home-sidebar {
        display: flex;
    }

}